

link(href="/header/header.css" rel="stylesheet")
#myTopnav.topnav
  a#logo(href='/')
    img(src='https://img.icons8.com/cute-clipart/29/000000/list.png')
  a(href='https://github.com/lucaslop/todos-webapp')
    img(src='https://img.icons8.com/material-rounded/30/000000/github.png')

  
  